/CMakeCache.txt
/CMakeFiles/*
/CMakeLists.txt~
/Makefile
/cmake_install.cmake
/phase_transition
/CMakeFiles
/solution_07.0.vtu
/*.vtu
/*.pvtu
/build/*
output/*
results/*
*txt
!CMakeLists.txt
*.out 
checkpoints/*
.vscode/*